<!DOCTYPE html>
<html lang="en">
<% Object.keys(navSection).forEach(function (id) { %>
<a href="<%= navSection[id].home %>">Homepage</a>
<a href="<%= navSection[id].meg %>">Megan Thee Stallion</a>
<a href="<%= navSection[id].lizzo %>">Lizzo</a>
<a href="<%= navSection[id].doja %>">Doja Cat</a>
<% }) %>

</html>
