body {
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}

a {
  font-size: 15px;
  color: rgb(197, 35, 35);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 60px;
  color: rgb(13, 105, 158);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 40px;
  color:  rgb(18, 139, 209);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
  font-size: 30px;
  color:  rgb(18, 139, 209);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, li {
  font-size: 15px;
  color:  rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
  max-width: 500px;
  height: auto;
}

figcaption {
  font-size: 14px;
  font-style: oblique;
}

